header {
	background-color: $primaryBackground2;
	height: $headerHeight;
	padding: $defaultGutter $tightGutter;
	font-size: $titleFontSize;
}

.headerTitle {
	@extend %vertical-align;
}

.headerTitle-link {

	display: block;
	text-align: center;

	.headerTitle-text {
	}
}
