.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menuItem {
	display: inline-block;
	text-align: center;
	position: relative;

	&:hover {
	}

	&-expandable {
		position: relative;
		cursor: pointer;

		&:hover .menu {
			//display: block;
		}
	}

	&-label {
		text-transform: uppercase;
	}

	.menu {
		display: none;

		&:hover {
			//display: block;
		}
	}
}
